{% extends 'newsapp/base.html' %}
{% block content %}
{% load static %}
{% load newsapp_extras %}
<main>
  <section class="news_section layout_padding">
    <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="d-flex flex-column align-items-end">
          <div class="custom_heading-container">
            <div class="author-image">
              <img src="{{ author.image.url }}" alt="">
            </div>
            <div>
              <h2>
                Articles by {{ author_name_surname }}
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          {% for article in author_articles %}
          <div class="col-sm-4">
            <div class="box">
              <div class="img-box full-image">
                <a href="{% url 'newsapp:detail' article.id %}">
                <img alt="" src="{{ article.image.url }}" >
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="box">
              <div class="detail-box">
                <h3>
                  <a href="{% url 'newsapp:detail' article.id %}">
                  {{ article.headline }}
                  </a>
                </h3>
                <p>Published: {{ article.pub_date|myDate }}</p>
                <p>{{ article.article_text | truncatechars:200 }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-3">
        <div class="d-flex flex-column align-items-end">
          <div class="custom_heading-container">
            <h2>
              May also interest you
            </h2>
          </div>
        </div>
        <div class="row">
          {% for article in recently_added_article_list %}
          <div class="col-sm-12">
            <div class="box">
              <div class="img-box full-image">
                <a href="{% url 'newsapp:detail' article.id %}">
                <img alt="" src="{{ article.image.url }}" >
                </a>
              </div>
              <div class="detail-box">
                <p>{{ article.pub_date|myDate }}</p>
                <h3>
                  <a href="{% url 'newsapp:detail' article.id %}">
                  {{ article.headline }}
                  </a>
                </h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
