{% extends 'newsapp/base.html' %}
{% block content %}
{% load static %}
{% load newsapp_extras %}
<div class="col-sm-9">
  <div class="d-flex flex-column align-items-end">
    <!-- headline -->
    <h2>Articles by {{ author_name_surname }}</h2>
    {% for article in author_articles %}
    <div class="custom_heading-container">
      <h4>
        <a href="{% url 'newsapp:detail' article.id %}">
        {{ article.headline }}
        </a>
      </h4>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
