<!-- TODO: replace https://www.code2night.com/ with current article link -->
<!-- TODO: add Pagination (see: https://docs.djangoproject.com/en/4.2/topics/pagination/) -->
{% extends 'newsapp/base.html' %}
{% block content %}
{% load static %}
{% load newsapp_extras %}
<div class="col-sm-9">
  <div class="d-flex flex-column align-items-end">
    <!-- headline -->
    <div class="custom_heading-container">
      <h2>
        {{ article.headline }}
      </h2>
    </div>
    <!-- image -->
    <div class="box">
      <div class="img-box article-image" >
        <a href="{% url 'newsapp:detail' article.id %}">
        <img alt="" src="{{ article.image.url }}" class="rounded">
        </a>
      </div>
    </div>
    <!-- subtitle -->
    <div class="subtitle-box">
      <div class="author">
      <p>Published: {{ article.pub_date|myDate }}</p>
      <p>Author: <a class="author" href="{% url 'newsapp:author' article.author %}">{{ article.author }}</a></p>
    </div>
    <div class="action-box">
        <div class="action">
          <!-- Whatspp -->
          <a href="https://api.whatsapp.com/send?text=https://www.code2night.com/"  data-action="share/whatsapp/share"
          target="_blank">
          <img alt="" class="sm-icon" src="{% static 'newsapp/images/whatsapp.png' %}"  >
          </a>
          <!-- Facebook -->
          <a href="">
          <img alt="" class="sm-icon" src="{% static 'newsapp/images/facebook.png' %}"  >
          </a>
          <!-- Twitter -->
          <a href="https://twitter.com/intent/tweet?text=See this article: https://www.code2night.com/" target="_blank">
          <img alt="" class="sm-icon" src="{% static 'newsapp/images/twitter-2.png' %}"  >
          </a>
          <!-- Email -->
          <a class="social-share__share" href="mailto:?subject=NewsPortal%20content%20share&amp;body=Check%20out%20this%20article%3A%0Ahttps%3A%2F%2Fwww.newsportal.com%2F2023%2F09%2F19%2Fchina%2Fchina-germany-xi-dictator-intl-hnk" data-type="email" target="_blank" rel="noopener noreferrer" aria-label="share with email" title="Share with email">
          <!-- <a href=""> -->
          <img alt="" class="sm-icon" src="{% static 'newsapp/images/mail.png' %}"  >
          </a>
          <!-- Link -->
          <a href="">
          <img alt="" class="sm-icon" src="{% static 'newsapp/images/link-2.png' %}"  >
          </a>
        </div>
      </div>
    </div>
    <!-- article -->
    {% for sentence in article_text %}
    <p>{{ sentence }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
