{% extends 'newsapp/base.html' %}
{% block content %}
<div class="col-sm-9">
  <div class="d-flex flex-column align-items-end">
    <div class="custom_heading-container">
      <h2>
        Latest News
      </h2>
    </div>
  </div>
  <div class="row">
    {% for article in latest_article_list %}
    <div class="col-sm-4">
      <div class="box">
        <div class="img-box full-image">
          <a href="{% url 'newsapp:detail' article.id %}">
          <img src="{{ article.image.url }}" alt="">
          </a>
        </div>
        <div class="detail-box">
          <h4>
            <a href="{% url 'newsapp:detail' article.id %}">
            {{ article.headline }}
            </a>
          </h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
